@tailwind base;
@tailwind components;
@tailwind utilities;


*{
 min-height: fit-content;
}
html::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}

.gradient-text {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  }
  